/* Font faces */
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Tailwind CSS */
@import "tailwindcss";

@theme {
  --font-sans: "Atkinson", sans-serif;
  --color-accent: #2337ff;
  --color-accent-dark: #000d8a;
  --color-black: rgb(15, 18, 25);
  --color-gray: rgb(96, 115, 159);
  --color-gray-light: rgb(229, 233, 240);
  --color-gray-dark: rgb(34, 41, 57);
  --background-image-gradient-gray: linear-gradient(rgba(229, 233, 240, 0.5), #fff);
}

/* Custom utility classes */
.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}
