---
const today = new Date();
---

<footer class="py-8 px-4 text-center bg-gray-100 text-gray-600">
	<p class="mb-4">&copy; {today.getFullYear()} Libéralisme Démocratique. Tous droits réservés.</p>
</footer>
